// Example
:root {
  --gap-main: 16px;
  --gap-main-mobile: 12px;
  --main-width: 992px;
  --bg-color: #ffffff;
  --logo-color: #dd0000;
  --main-color: #FE2E80;
  --decorative-color: #dd0000;
  --secondary-color: #222222;
  --text-color: #191919;
  --border-color: #d9d9d9;
  --header-font-color: #FF5C9C;
  --header-color-black: #656565;
  --main-text-color: #DD2C4D;
  --text-color-grey: #444
}
